<?php

// set the dovecot seperator character. Check your dovecot config file for 'auth_master_user_separator'
//
// to read about this dovecot feature go to:  http://wiki.dovecot.org/Authentication/MasterUsers
//

$rcmail_config['dovecot_impersonate_seperator'] = '*';

// call a script everytime an account is impersonated
$rcmail_config['dovecot_impersonate_notify'] =
  '/usr/local/bin/master-user-report.pl --remote-ip={{REMOTE_ADDR}} --server-ip={{SERVER_ADDR}} --master="{{MASTER}}" --account="{{ACCOUNT}}"';

